.container{
width:90%;
max-width:1200px;
margin:auto;
padding:80px 0;
}

section h2{
text-align:center;
font-size:40px;
color:#FFD700;
margin-bottom:40px;
}

#about p{
font-size:18px;
text-align:center;
max-width:900px;
margin:auto;
color:#ddd;
}

.service-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;
}

.card{
background:#181818;
padding:35px;
text-align:center;
border-radius:15px;
transition:.4s;
border:1px solid #333;
}

.card:hover{
transform:translateY(-10px);
border-color:#FFD700;
box-shadow:0 0 20px rgba(255,215,0,.4);
}

.card i{
font-size:45px;
color:#FFD700;
margin-bottom:15px;
}

.card h3{
font-size:22px;
margin-top:10px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:15px;
transition:.4s;
cursor:pointer;
}

.gallery img:hover{
transform:scale(1.05);
box-shadow:0 0 20px rgba(255,215,0,.5);
}
.container{
width:90%;
max-width:1200px;
margin:auto;
padding:80px 0;
}

section h2{
text-align:center;
font-size:40px;
color:#FFD700;
margin-bottom:40px;
}

#about p{
font-size:18px;
text-align:center;
max-width:900px;
margin:auto;
color:#ddd;
}

.service-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;
}

.card{
background:#181818;
padding:35px;
text-align:center;
border-radius:15px;
transition:.4s;
border:1px solid #333;
}

.card:hover{
transform:translateY(-10px);
border-color:#FFD700;
box-shadow:0 0 20px rgba(255,215,0,.4);
}

.card i{
font-size:45px;
color:#FFD700;
margin-bottom:15px;
}

.card h3{
font-size:22px;
margin-top:10px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:15px;
transition:.4s;
cursor:pointer;
}

.gallery img:hover{
transform:scale(1.05);
box-shadow:0 0 20px rgba(255,215,0,.5);
}#contact{
background:#111;
text-align:center;
padding:80px 20px;
}

#contact p{
font-size:18px;
margin:10px 0;
color:#ddd;
}

footer{
background:#000;
text-align:center;
padding:20px;
color:#aaa;
font-size:15px;
border-top:1px solid #222;
}

html{
scroll-behavior:smooth;
}

@media(max-width:768px){

header{
flex-direction:column;
padding:15px;
}

nav{
margin-top:15px;
}

nav a{
display:inline-block;
margin:8px;
}

.hero h1{
font-size:34px;
}

.hero p{
font-size:17px;
}

section h2{
font-size:30px;
}

.logo img{
width:50px;
height:50px;
}

.btn{
padding:12px 25px;
}

}
